.Account {
	width: calc( var(--sidebar-width) + 1em);
	overflow: hidden;
	transition: width 100ms ease-in-out;
	z-index:10;
	user-select: none;

	.user-button {
		position: fixed;
		top: 0;
		right: 0;
		width: calc( var(--sidebar-width) + 1em);
		display: flex;
		justify-content: flex-end;

		button {
			margin: 1em;
			font-size: 1.1em;
			background: transparent;
			border: none;
			color: var(--text);

			padding: 0.5em 1em;
			border-radius: 0.5em;

			&:hover {
				background-color: var(--secondary);
			}
		}
	}

	.content {
		margin-top: 3em;
		display: flex;
		flex-direction: column;
		width: var(--sidebar-width);
		padding: 1em;
		box-sizing: border-box;
	}

	&:not(.open) {
		width: 0;
	}
}

@media (max-width: 64em) {
	.Account {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;

		background: var(--bg-inset);
	}
} 