.Account {
	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);

	padding: 1em;
	box-sizing: border-box;

	--maxwidth:  calc(var(--sidebar-width) + var(--sidebar-width) + var(--content-width));
}

@media (max-width: 64em) {
	.Account {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;

		background: color-mix(in oklch, var(--bg), black 20%);
	}
} 