.Assignment {
	display: flex;
	flex-wrap: wrap;

	h2 {
		width: 100%;
	}

	.worksheet {
		margin-right: 1em;
		display: flex;
		flex-direction: column;
		text-align: center;
		
		h6 {
			margin: 0;
		}

		img {
			background: var(--bg-inset);
			border-radius: 0.5em;
			padding: 1em;
			
		}

		button {
			margin-top: 1em;
			svg {
				margin-left: 0.5em;
			}
		}
	}

	.description {
		flex: 1;
		flex-shrink: 1;

		p:first-child {
			margin-top: 0;
		}
	}

	.complete-assignment {
		flex-basis: 100%;
		flex-shrink: 0;
	}
	
}