.CheckoutForm {
	margin: 1em 1em 5em;

	.info {
		font-size: 0.8em;
	}

	.complete-payment {
		margin: 3em 1em;
		display: flex;
		justify-content: center;
		align-items: center;

		.total {
			margin-right: 2em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h6 {
				margin:0;
			}

			.amount {
				font-size: 1.9em;
				font-weight: 600;
			}
		}
	}

}