.Home {


	.lesson-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 2em;
		box-sizing: border-box;


		margin: 0 auto;
		width: 100dvw;
		margin-left: calc(50% - 50dvw);
		


		
		.lesson, lesson:visited {
			width: 20em;
			height: 15em;
			margin: 0.75em;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--secondary);
			color: var(--text);
			border-radius: 0.5em;
			box-shadow: 0 0.25em 0 color-mix(in oklch, var(--bg), var(--bg-shadow) 20%);
			cursor: pointer;
			outline: solid 0 var(--primary);
			text-decoration: none;

			transition: 
				transform 200ms cubic-bezier(.47,3,.41,.8),
				outline-width 100ms linear;



			div {
				font-size: 2em;
				font-weight: 500;
				text-shadow: color-mix(in srgb, var(--bg), var(--bg-shadow) 50%) 0.05em 0.05em 0;
			}

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0.5em 0 color-mix(in oklch, var(--bg), var(--bg-shadow) 20%);
				outline: solid 0.25em var(--primary);
			}
		}
	}
}