input[type="text"], input[type="password"] {
	background-color: var(--bg-inset);
	color: var(--text);
	font-size: 1rem;
	padding: 0.5em 1em;
	border: none;
	border-radius: 0.4em;
	border-top: 0.125em solid var(--bg-inset-edge);
	margin: 0.5em 0;

	&:active, &:focus {
		outline: solid 2px var(--primary);
	}
} 
