.Navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;

	background-color: var(--theme);
	color: var(--header-text);

	user-select: none;

	nav {
		display: flex;
		flex-direction: row;
		gap: 2rem;


	}

	a, a:visited {
		font-size: 2.5em;
		text-decoration: none;
		font-weight: 600;
		color: var(--header-text);

		font-family: "Cherry Bomb One", sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-style: normal;

		text-shadow: 0.125em 0.125em 0 var(--shadow);
		transition: transform 50ms cubic-bezier(.47,3,.41,.8);
	
		
		position: relative;

		&:hover {
			
			transform: scale(1.4) rotate(-5deg);
			transition: transform 50ms cubic-bezier(.47,3,.41,.8);
			animation: wobble 2s ease-in-out infinite;
		}
	}
}

/* wobble animation moves up and down in a wave-like motion */
@keyframes wobble {
	0%, 100% {
		top: 0;
	}
	50% {
		top: -0.25em;
	}

}