.Navigation {
	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);

	padding: 1em;
	box-sizing: border-box;
}

@media (max-width: 64em) {
	.Navigation {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;

		background: color-mix(in oklch, var(--bg), black 20%);
	}
} 