.Navigation {
	width: calc( var(--sidebar-width) + 1em);
	overflow: hidden;
	transition: width 100ms ease-in-out;
	z-index:10;
	user-select: none;

	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: calc( var(--sidebar-width) + 1em);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-top: 0.5em;

		.page-top-bar {
			background: var(--bg-inset); 
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 0;
			z-index: -1;
			transition: height 100ms ease-in-out;
		}

		h1 {
			padding-left: 1rem;
			font-size: 2rem;
			margin: 0;
			line-height: 0.9;

		}

		button {
			margin: 0.5em;
			font-size: 1.1em;
			background: transparent;
			border: none;
			color: var(--text-weak);
			svg path {fill: var(--text-weak);}


			padding: 0.5em;
			border-radius: 0.5em;

			svg path {fill: var(--text-weak);}
			

			&:hover {
				background-color: var(--secondary);
				color: var(--text);
				svg path {fill: var(--text);}
			}
		}
	}

	.content {
		margin-top: 4em;
		display: flex;
		flex-direction: column;
		width: var(--sidebar-width);
		padding: 1em;
		box-sizing: border-box;
	}

	&:not(.open) {
		width: 0;
	}
}

@media (max-width: 86em) { /* 40 + 12 + 12 + 12 + 12 */
	.Navigation .header .page-top-bar {
		height: calc(100% + 0.5em);
	}
}

@media (max-width: 64em) { /* 40 + 12 + 12 */
	.Navigation {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background: var(--bg-inset);
	}
} 